/* COLORS */

.a {
     background-color: red;
}
.b {
    background-color: orange;
}
.c {
    background-color: yellow;
}
.d {
    background-color: green;
}
.e {
    background-color: blue;
}
.f {
    background-color: purple;
}
.g {
    background-color: pink;
}
.h {
    background-color: blanchedalmond;
}
.i {
    background-color: khaki;
}


/* for mobile devices */

@media only screen and (min-width: 480px){ 
    
    /*widths-- mobile*/

    .a, .b, .c, .d, .i {
        width: 100%;
    }
    .e, .g {
        width: 50%;
        display: inline-block;
        float: left;   
    }
    .f, .h {
        width: 50%;
        float: right;
        display: inline-block;
    }
    
    /*heights--mobile*/

    .a {
        height: 75px;
    }
    .b {
        height: 150px;
    }
    .c, .d {
        height: 125px;
    }
    .e, .f, .g, .h {
        height: 250px;
    }
    .i {
        height: 80px;
    }
}

@media only screen and (min-width: 768px){
    /*width desktop*/

    * {
        text-align: center;
    }
    .a {
        width: 100%;
        height: 100px;
    }
    .b {
        width: 20.83%;
        height: 600px;
        display: inline-block;
        float: left;
    }
    .c, .d {
        width: 39.58%;
        height: 200px;
        display: inline-block;
        float: right;
    }
    .e, .f, .g, .h {
        width: 19.79%;
        height: 250px;
        display: inline-block;
        float: left;
    }
    .i {
        width: 79.17%;
        height: 150px;
        display: inline-block;
        float: right;
    }

}
